@import "tailwindcss";

.text-gold {
  color: #f8c009;
}

.bg-gold {
  background-color: #f8c009;
}

.border-gold {
  border-color: #f8c009;
}

body {
  background-color: rgb(18, 16, 16);
}

.bg-gray {
    background-color: rgb(18, 16, 16);
}
